@model GerenciarJogos.MVC.Models.TipoConsoleViewModel
@using GerenciarJogos.Common.Constantes

@{
    ViewBag.Title = ConstantesGerais.TITULO_VISUALIZAR;
}

<h2>@ViewBag.Title</h2>
<h3>Detalhe do Console - @Model.Nome</h3>
<hr />

<form id="formConsole">

    @Html.HiddenFor(x => x.ConsoleId, new { @class = "hdnConsoleId" })

    <div class="col-md-12">
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Nome: </label>
                    <label class="control-label">@Model.Nome</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Status: </label>
                    <label class="control-label">@Model.Status</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Data do cadastro: </label>
                    <label class="control-label">@Model.DataCadastro</label>
                </div>
            </div>
        </div>

        <br /><br />
        <button type="button" id="btnVoltar" class="btn btn-default" onclick="window.history.go(-1)">Voltar</button>
        <br /><br />

    </div>
</form>
